# Node files
dist
node_modules
yarn.lock

# IDE files
.env
*.log
.DS_Store
.vscode

# Hardhat files
/cache
/artifacts
build-info

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# Circom files
*_js
*.r1cs

# Setup params
setup_params
verification_keys
wasms
